# Xcode
*.xcodeproj/*
!*.xcodeproj/project.xcworkspace
!*.xcodeproj/xcshareddata
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata

# Build Products
build/
DerivedData/
*.app
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# Xcode user settings
*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcworkspace/xcuserdata
xcuserdata/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# XcodeGen
*.xcodeproj
